extends layout

block content
  header
      h1 Add a Phone
  section.container
    form(action='add', method='post')
      .form-group
        label(for='model') Model
        input#model.form-control(type='text', name='model', placeholder='Model Example: iPhone', required, value='')
      .form-group
        label(for='make') Manufacturer
        input#make.form-control(type='text', name='manufacturer', placeholder='Make Example: Apple', required, value='')
      .form-group
        label(for='color') Color
        input#color.form-control(type='text', name='color', placeholder='Color', value='')
      .form-group
        button#submit(type='submit', name='Submit', placeholder='Submit', value='Save') Save
#footer.panel-footer phonetracer, copyright Asurion 2016